<form action="/create" method="post">
  <input type="text" name="question[text]" placeholder="Question"><br>
  <input type="text" name="question[answer]" placeholder="Answer"><br>
  <input type="submit" value="Add">
</form>