<a href="/new">Add question</a><br>
<a href="/log">Show log</a><br>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |q| %>
    <tr>
      <td><%= q.text %></td>
      <td><%= q.answer %></td>
      <td><a href="/<%= q.id %>/delete">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>